#salaryCards-advantages {
    padding-top: 50px;
}

.salaryCard-advantages-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    margin-right: 24px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .07);
    transition: all .3s cubic-bezier(.23, 1, .32, 1);
    height: 176px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;

    h5 {
        font-weight: 400;
        max-width: 80%;
    }
}