body {
    background-color: #FAFAFA;
}

.wrap-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;

}


.wrap-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;

}

.container-95 {
    width: 95%;
    margin: 0 auto;
}

.nowrap-row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.section-header-wrapper {
    padding-bottom: 30px;
}

.read-more-main {
    @include read-more-main-mixin;
}

.green-span {
    color: $green;
}


.dnone-large {
    display: none;
}

.dflex-large {
    display: flex;
}

.dblock-large {
    display: block;
}

@media (max-width: 768px) {
    .scroll-on-responsive {
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 24px;
        gap: 20px;
    }

    .dnone-small {
        display: none;
    }

    .dflex-small {
        display: flex;
    }

    .dblock-small {
        display: block;
    }

}

.section-header-h-accForBusiness {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: unset !important;
    font-weight: 350;
}

.section-header-p-accForBusiness {
    color: rgba(0, 0, 0, .6);
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .5px;
    width: 60%;
}

.main-button {
    @include main-button;
    padding: 10px 15px;
}


.salaryCards-section-padding {
    padding-top: 100px !important;
}

.salary-cards-p {
    color: rgba(0, 0, 0, .6);
    line-height: 24px;
}

.bow-shadow {
    box-shadow: 0 2px 7px rgba(0, 0, 0, .07);

}