.modal-wrapper-info:hover .modal-info {
    opacity: 1;
    pointer-events: auto;

}

.modal-wrapper-info {
    position: relative;
    display: inline-block;
}

.fa-circle-info {
    padding-left: 7px;
    font-size: 18px;
    cursor: pointer;
}

.modal-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    overflow: hidden;
    z-index: 1222;
    padding: 4px;

    p {
        font-size: 12px;
        padding: 0 !important;
        margin-top: 0 !important;
    }
}

.show-modal .modal-info {
    opacity: 1;
    pointer-events: auto;
}

.docs-ul {
    width: 100%;
    margin-bottom: 0px;

    li {
        padding: 40px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.308);
    }

    padding: 0;
}

.needed-docs-table {
    margin-top: 30px;
    border: 1px solid rgba(147, 147, 150, 0.322);
    padding: 0px;
    border-radius: 25px;
}

.needed-docs-table-col-one {
    h6 {
        font-size: 20px;
        padding: 10px 40px;
    }
}