.customer-quote {
    color: rgba(0, 0, 0, .6);
    line-height: 28px;
    letter-spacing: .15px;

}

.customer-name {
    font-size: 30px;
    font-weight: 500;
    line-height: 32px;
}

.customer-role {
    font-size: 15px;
    color: rgba(0, 0, 0, .6);
}