#online-business-cards {
    padding-top: 100px;
}

.online-business-card {
    background-color: #fff;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
    background-image: url('../images/flexible_credit_cover.png');
    padding: 40px 20px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .07);
}

.online-business-card-second {
    background-image: url('../images/saqqal.png');

}

.white-bg {
    background-color: white;
    border: none;
    color: $green;
}

.online-business-card-out {
    margin-top: 20px;
}

.online-business-card-detail-element {

    h5 {
        font-size: 32px;
        line-height: 48px;
        letter-spacing: .25px;
    }

}

.online-business-card-header {
    font-size: 40px;
    font-weight: 400;
}