footer {
    background-color: white !important;
}

.footer-logo {
    width: 100%;

    img {
        width: 50%;

    }
}

.footer-contact {
    height: 100%;
    align-items: center;
    display: flex;

}

.footer-redirects-row {

    .col-3 {

        ul {
            padding-left: 0;

            li {
                list-style: none;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: .25px;
                color: $grey;
                padding: 3px;
                cursor: pointer;

                &:hover {
                    color: rgba(133, 129, 129, 0.753);
                }
            }
        }
    }

}

.footer-icon {
    padding-top: 10px;
    font-size: 30px;
    padding-right: 20px;
}

.footer-copyright {
    padding: 20px;
    border-top: 1px solid rgba(128, 128, 128, 0.164);

}

.grey-span {
    color: $grey;
}

@media (max-width: 768px) {
    .icons {
        height: 100%;
        display: flex;
        align-items: center;
    }
}