#mobile-app-main {
    padding-top: 100px;
    background-color: white !important;
    background-image: url("../images/mobile.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: contain;


}

.mobile-app-main-inner-images {
    .playmarkets-wrapper {
        a {
            margin-bottom: 20px;
            display: inline-block;

            img {
                width: 100%;
                height: 50px;
            }
        }
    }
}

.qr-code {
    height: 120px;
    margin-left: 20px;
}

.mobile-app-main-inner {
    h5 {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: .15px;
    }

    p {
        margin: 40px 0;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: .5px;
    }
}

@media (max-width: 768px) {
    #mobile-app-main {
        background-image: unset;

    }

    .playmarkets-wrapper {
        width: 40%;
    }
}